.contact_container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}

.contact_header {
  margin-bottom: 48px;
}

.contact_header > h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 16px;
}

.contact_header > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}

.contact_form {
  display: flex;
  flex-direction: column;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.contact_form > button {
  width: 100%;
  margin-top: 92px;
  display: flex;
  justify-content: center;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background 0.2s ease-in-out;
}

.contact_form > button:hover {
  background: #175cd3;
}

.contact_form > button:focus {
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

@media screen and (min-width: 500px) {
  /* .contact_container {
    padding: 156px 16px;
  } */
  .form_group {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }

  .contact_form > button {
    margin-top: 52px;
  }
}
